@charset "utf-8";
/* CSS Document */

#leftnavigation {
  position : absolute;
  left : 0;
  width : 150px;
  height : 500px;
  margin-left : 10px;
  margin-top : 20px;
  color : #000000;
  padding : 3px;
}
#rightnavigation {
	position : absolute;
	left : 737px;
	top : 20px;
	width : 218px;
	padding-left : 10px;
	z-index : 3;
	color : #000000;
	padding : 3px;
	height: 63px;
} 
